* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00ffff;
    font-size: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid #000;
    padding: 3px;
}

.green {
    background-color: #008000;
}

.blue {
    background-color: #0000FF;
}

.yellow {
    background-color: #FFA500;
}

h1 {
    margin-top: 10px;
}